:root{
    
    
    --clr-gradient: linear-gradient(to top, rgba(99, 102, 241, 10%), rgba(218, 70, 239, 5%), rgba(241, 244, 253, 7%));
    --color-white:#ffffff;
    --color-dark: #0B0F19;
    --color-primary: #6366F1;
    --color-border: #E2E5F1;
    --color-text: #0B0F19;
    --color-text2:#565973;
    --color-text3:#9397AD;
    --color-bg:#F3F6FF;
    --color-bg-grey:hsla(239, 84%, 67%, 0.08);
    --color-shadow:rgba(0, 0, 0, 0.2);
}

.dark{
    color-scheme: dark;
    --clr-gradient: linear-gradient(to top, rgba(99, 102, 241, 10%), rgba(218, 70, 239, 5%), rgba(241, 244, 253, 7%));
    --color-white:#ffffff;
    --color-dark: #0B0F19;
    --color-primary: #6366F1;
    --color-border: #E2E5F1;
    --color-text: #0B0F19;
    --color-text2:#565973;
    --color-text3:#9397AD;
    --color-bg:#F3F6FF;
    --color-bg-grey:hsla(239, 84%, 67%, 0.08);
    --color-shadow:rgba(0, 0, 0, 0.2);
    .btn-store{
        display:none;
    }
}