@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');





:root {
    --clr-primary: #6366F1;
    --clr-gradient:rgb(99, 102, 241, 10%),rgb(218, 70, 239, 5%), rgb(241, 244, 253, 7%);
    --clr-gradient:rgb(99, 102, 241, 10%),rgb(218, 70, 239, 5%), rgb(241, 244, 253, 7%);

    --clr-error:#EF4444;
    --clr-success:#22C55E;
    --clr-warning:#FFBA08;
    --clr-brandbtn:#6366F1;
    --clr-secondary:#EFF2FC;
    --clr-info:#4C82F7;
    --clr-grey1:#F3F6FF;
    --clr-grey2:#EFF2FC;
    --clr-grey3:#E2E5F1;
    --clr-grey4:#D4D7E5;
    --clr-grey5:#B4B7C9;
    --clr-grey6:#9397AD;
    --clr-grey7:#565973;
    --clr-grey8:#33354D;
    --clr-grey9:#0B0F19;
    --clr-btnhvr:#ffffff;
    --clr-font1:#131022;
    --clr-font2:#585c7b;



}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
    
}

body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;   
}

button:hover{
 cursor:pointer;
}
.container{
  max-width: 720px;
}
/* FÖLJANDE KOD SNODD FRÅN https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  } 

  /* HÄR SLUTAR SNODD KOD */
.c1-2bg{
  background-image: linear-gradient(to top, rgba(99, 102, 241, 10%), rgba(218, 70, 239, 5%), rgba(241, 244, 253, 7%));
}
.c1 {
  display:grid;
  grid-template-columns:1fr auto auto;
  justify-content: center;
  align-items: center;
  gap:1rem;
;
}
.logo{
  margin: 1rem;
}
.signin{
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-grey1);
    justify-content: center;
    display:flex;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    padding: 12px 25px;
    display: none;
  }
.signin:hover {
background-color: var(--clr-info);

}
.feat {
    display: none;
  }


.burgerknapp{
    border: none;
    background-color: transparent;
    padding-right: .5rem;
   
  }

.dml {
      display: none;
 
  }

.c2 {
  
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.phone1{
  display:none;
}
.moneytext {
  font-size: 34.1px;
  font-weight: 800;
  color:var(--clr-font1);
  padding: 1rem;
}
  
.breadtext {
  font-size:18px ;
  font-weight:400 ;
  color: var(--clr-font2);
  align-items: center;
  p{
    margin:0;
    height: auto;
  }

}
.storerek{
  display:grid;
  grid-template-columns:auto;
  grid-template-rows: auto;
  height:auto ;
  align-items: center;
  margin-top: 2rem;
  gap:1rem;
}

.playbtn {
  margin-top:1rem;
}

.storebtn{
border: none;
border-radius: .5em;
background-color: transparent;
}

.astore{
border: none;
border-radius: .5em;
background-color: transparent;
}
.playbtn{
border: none;
border-radius: .5em;
background-color: transparent;
}

.astore:hover{
background-color: none;
cursor: pointer;
}

 .pilcont{
  margin:2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  button{
    border:none;
    background-color: transparent;
  }

}

textarea{
  text-decoration: none;
  resize: none;
  width: 200px;

}

.logotyp
{
  display: none;
}

.c31 {
  text-align: center;
  margin: 5px;
  h1{
    font-weight: 800;
    font-size: 27.9px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  p{
    padding: 1rem;
    font-size: 18px;
    font-weight: 400;
    color: var(--clr-font2);
  }
}

.c3-2{
  width: 90%;
  margin: 0 auto;
}

.kort1 {
  display: grid;

  place-content: center;
  align-items: center;
}
.kortico{
  grid-row: 1 / 3;
  margin-bottom:50px;


}
.korth1{
grid-column: 2;
margin-left:30px;
margin-bottom: 0;
color:var(--clr-font1);
font-weight: 800;
font-size: 20px;

}
.kortp{
grid-column: 2;
grid-column: 2;
margin-left: 30px;
color:var(--clr-font2);
font-weight: 400;
font-size: 16px;
}

.creditphone{
  display:none;
}


.c4 {
  background-color: var(--clr-grey1);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h1{
    padding-top:2rem;
  }
  p{
    padding-top:2rem;
  }
  #trans-img-1{
    display:none;
  }
  #trans-img-2{
    display:none;
  }
  #h1desktop{
    display:none;
  }
  #img-desktop{
    display:none;
  }
  
}

.telebild{
  margin-left: 10px;
  margin-right: 20px;
  h1{
    font-size: 27.9px;
    color: var(--clr-font1);
    font-weight: 800;
  }
}

.bottele{
  margin-left: 10px;
  margin-right: 20px;
  h1{
    font-size: 21.6px;
    color: var(--clr-font1);
    font-weight: 800;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  p{
    font-size: 16px;
    color: var(--clr-font2);
    font-weight: 400;
  }
}

.desktop-review{
  display:none;
}

.learnbtn{
  display:block ;
  background-color: var(--clr-brandbtn);
  width: 159px;
  height: 44px;
  border-radius: .5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  img{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  button{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
}



.c5{
  margin:1rem;
  p{
    font-size: 18px;
    color: var(--clr-font2);
    text-align: center;
    
  }
  h1{
    text-align: center;
  }
}

.faqbtrv{
  border:none;
  background-color: transparent;
}
.faq1{
  /* border: 1px solid #E2E5F1;; */
  border-bottom: 1px solid #e2e5f1;
  label{
    font-size: 16px;
    font-weight: 600 ;
    color:#131022;
    padding:0.5rem;}
   
  
  p{

    font-size: 14px;
    font-weight: 400 ;
    color:var(--clr-font2);
    padding:1rem;}

}

.faq1b{
  border-bottom: 1px solid #e2e5f1;  display:grid;
  grid-template-columns: 1fr auto;
  place-items: center;
}

.faq2{
  border-bottom: 1px solid #e2e5f1;  
  display:grid;
  grid-template-columns: 1fr auto;
  padding:0.5rem;
  label{
    font-size: 16px;
    font-weight: 600 ;
    color:#131022;
    padding-left: 1rem;
  }
  
}
.faq3{
  border-bottom: 1px solid #e2e5f1;  
  display:grid;
  grid-template-columns: 1fr auto;
  padding:0.5rem;
  label{
    margin-right: 67px;
    text-align: center;
    font-size: 16px;
    font-weight: 600 ;
    color:#131022;
    padding-left: 1rem;
  }
  
}
#faqbt3{
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq4{
  border-bottom: 1px solid #e2e5f1;  display:grid;
  grid-template-columns: 1fr auto;
  padding:0.5rem;
  text-align: left;
  margin: 0;
  label{
    margin-right: 67px;
    font-size: 16px;
    font-weight: 600 ;
    color:#131022;
    padding-left: 1rem;
  }
}
.faq5{
  border-bottom: 1px solid #e2e5f1;  display:grid;
  grid-template-columns: 1fr auto;
  padding:0.5rem;
  label{
    font-size: 16px;
    font-weight: 600 ;
    color:#131022;
    padding-left: 1rem;
  }
}
.faq6{
  display:grid;
  grid-template-columns: 1fr auto;
  padding:0.5rem;
  
  label{
    font-size: 16px;
    font-weight: 600 ;
    color:#131022;
    padding-left: 1rem;
  }
}
.faqborder{
  border: 1px solid #E2E5F1;
  border-radius: 0.5rem;
}

.c6{
  background-color: #f3f6ff;
  margin: 1em;
  border-radius: 0.5em;
  
}
.subkort{
  
  display:flex;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  label{
    font-size: 21.6px;
    font-weight: 800;
    color: var(--clr-font1);
    margin-left: 2rem;
  }
}

.textbox-sub{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  gap:0;
  margin:0 0;
  label{
    margin:0 0;
  }
  #textarea{
    margin: 0 0;
    height:40px;
  }
}


.contactbtn-con{
  display:flex;
  padding-top:2rem;
  padding-bottom:1rem;
  
}
.contactbtn{
  background-color: var(--clr-primary);
  display:flex;
  align-items: center;
  text-align: center;
  color: var(--clr-grey1);
  border-radius: 8px;
  text-decoration: none;
  padding: 12px 25px;
  border:none;
  place-content: center;
}
.contactbtn1{
  background-color: var(--clr-primary);
  display:flex;
  align-items: center;
  text-align: center;
  color: var(--clr-grey1);
  border-radius: 0px 8px 8px 0px;
  text-decoration: none;
  padding: 12px 25px;
  border:none;
  place-content: center;
}
  
.fotnot{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  p{
    margin: 0.2rem;
    color: var(--clr-grey6);
    font-weight: 400;
    font-size: 14px;
  }
}

@media (width > 1400px){
  .container{ 
    max-width: 1320px;}
    .c1{
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      .burgerknapp{
        display:none;
      }
    .signin{
      display:block
    }
    .feat{
      display:block;
      text-decoration: none;
      margin: 0;
      
    }
  }
  .c2{
    display:grid;
    padding-top:5rem;
    #c25{
      display:block;
      grid-column: 3;
      grid-row:1 / 5;
    }
    h1{
      grid-column: 1 /3;
    }
    .breadtext{
      grid-column: 1/3;
      grid-row: 2;
    }
    .storerek{
      display:flex;
      grid-row:3;
    }
    .pilcont{
      display: flex;
      align-items: center;
      justify-content: center;
      grid-row:4;
    }
  }
  .c3{
    .logotyp{
      display:flex;
      padding-top:5rem;

      
    }  
  }
  .c3grid{
    display:grid;
    grid-template-columns: 1ft auto;
    padding-bottom:5rem;
    padding-top:5rem;

  }
  .creditphone{
    display:block;
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .c31{
    grid-column: 2;
  }
  .c3-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .c4{

    #trans-img-1{
      display:block;
    }
    #trans-img-2{
      display:block;
    }

    .imgshowrow{
      padding-top:3rem;
      padding-bottom:3rem;
      display:flex;
      flex-direction: row;
    }
    #h1desktop{
      display:block;
    }
    #h1phone{
      display:None;
    }
    #img-phone{
      display:none;
    }
    #img-desktop{
      display:block;
    }
  
  
  }
    .desktop-review{
      padding-bottom: 5rem;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 5rem;
      .desktop-grid-1{    
        display:grid;
        grid-template-columns: 1fr 1fr;  
        
      }
      .desktop-grid-2{        
        display:grid;
        grid-template-columns: 1fr auto;  
        padding-bottom: 5rem;
      }
      .Soc-med-review{
        background-color: var(--clr-grey1);        
        display:grid;
        grid-template-columns: auto 1fr 1fr;

      }

      .desk-grid-card{
        display:grid;
              
        grid-template-rows: 1fr auto auto;
        grid-template-columns: 1fr;
        h1{
          display: block;
          
          grid-row:1;
          margin-left: 0;
        }
        ul{
          display: block;
          grid-row:2;
          margin-left: 1.2rem;
        }
        button{
          display: block;
          grid-row:3;
          margin-left: 0;
          border:none;

        }
      }
      .desk-grid-card2{
        display:grid;
        width: 650px;
        
        grid-template-rows: 1fr auto auto;
        grid-template-columns: 1fr 1fr;
        margin-top:2rem;
        gap:2rem;
        padding-bottom:5rem;
        h1{
          grid-row:1;
          grid-column: 1 / 3;
        }
        #grid-card1{
          display: flex;
          flex-direction: column;
          grid-row:2;
          grid-column:1 / 2;
          img{
            margin-bottom: 1rem;
            margin-left:0;
          }
          p{
            margin-left:0;
          }
        }
        #grid-card2{
          
          display: flex;
          flex-direction: column;
          grid-row:2;
          grid-column:2;
          img{
            margin-bottom: 1rem;
            margin-left:0;
          }
          p{
            margin-left:0;
          } 
        }
        button{
          grid-row:3;
          margin-left:0;
          border:none;
        }

      }


      

  }








}
