.btn-primary{
    @include btn;
    max-width: 165px;
    height: 44px;
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn-sign-in{
    @include btn;
    width: 165px;
    height:44px;
    display:none;
    align-items: center;
    justify-content: center;
    border:none;
    @media (min-width: 1400px){
        align-items: center;
        justify-content: center;
        display:flex;
    }
}

.btn-store{
    @include btn;
    display: block;
    padding:.5rem 1.5rem;
    max-width: 366px;
    @media(min-width: 768px){
        display:flex;
        align-items: center;
        justify-content: center;
        max-width: 138px;
        img{
            max-width: 120px;
        }
    }
    @media(width > 1400px){
        display:block;
        max-width:180px ;
    }
}

.btn-store-dark{
    @include btn;
    padding:.5rem 1.5rem;
    max-width: 366px;
    display:none;

    @media(width > 768px){
        display:none;
        align-items: center;
        justify-content: center;
        max-width: 138px;
        img{
            max-width: 120px;
        }
    }
    @media(width > 1400px){
        display:none;
        max-width:180px ;
    }

}
.btn-round{
    @include btn-round;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    border:none;
    &:hover{
        cursor: pointer;
    }
}


.btn-round-secondary{
    @include btn-round;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    border:none;
}
.btn-menu{
    @include btn-menu;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    margin-left:.5rem;
    @media (width > 1400px){
        display:none;
    }
}
.btn-subscribe{
    @include btn;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 .5rem .5rem 0;
    max-width: 114px;
    margin:0;
    
    @media (width > 1400px){
    max-width: 140px;
    }
}

